h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 8px;
    margin-bottom: 8px;
}

body {
    margin: 0;
}

.flex-div {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    padding-left: 10px;
}

#header {
    color: rgb(20, 46, 120);
}

#content {
    margin-top: 10px;
}
